<!-- inherit base template -->
{% extends "base.html" %}
<!-- inherit base template -->

<!-- app body begin -->
{% block content %}
<!-- app body begin -->

<!-- body -->
<!-- **** -->
<div class="body-container" id="main-body">
  <div class="container about-card text-center">
    <h1>About socialbook</h1>
    <br />
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores nesciunt
      quisquam, nihil sapiente, nisi dolor tenetur, debitis pariatur temporibus
      non velit id odit provident recusandae qui voluptas rerum incidunt
      cupiditate voluptate accusamus ipsam porro deleniti expedita! Facere est
      vero non aliquid, nulla necessitatibus commodi corporis ipsam, mollitia
      quod officia aspernatur maxime doloribus vel neque eum sapiente,
      voluptatem quam praesentium soluta? Tempore nam vitae ab adipisci quasi
      soluta, iusto quos ducimus ad ea a labore tempora obcaecati inventore
      quisquam neque commodi itaque sunt esse fugiat, quod impedit! Ratione
      placeat, nisi officia necessitatibus non ut accusantium culpa atque minima
      tempore mollitia saepe.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo earum natus
      suscipit consectetur recusandae perspiciatis provident temporibus atque at
      ab voluptatem distinctio, aut adipisci illum eius dolores, debitis quo
      assumenda laborum. Magnam odit cumque obcaecati reiciendis nostrum sequi
      porro incidunt recusandae, at, libero ex ea fuga cum eos? Similique enim
      obcaecati aliquam veritatis eligendi dicta voluptatem quod dolore
      corporis, reiciendis ad libero facilis esse, quis quos impedit quisquam
      voluptatum at minus tenetur, cupiditate vitae! Voluptatibus, perferendis
      nesciunt reiciendis sint temporibus distinctio, consectetur qui minus
      nostrum dolorem eligendi! Numquam, laborum! Possimus quis ea ratione
      mollitia placeat repellat, veritatis eveniet tempore. Facere?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
      perspiciatis quis modi ipsam eos, necessitatibus nam exercitationem
      quibusdam distinctio sapiente ullam officia at commodi illo consectetur
      iusto odit quidem porro labore quaerat consequuntur, excepturi
      praesentium. Ipsum, doloribus nemo tempore consectetur aperiam molestiae
      sapiente earum magnam soluta, id quod pariatur optio.
    </p>
  </div>
</div>
<!-- **** -->
<!-- body -->

<!-- footer -->
<!-- ****** -->
<div class="footer container-fluid text-center">
  <p>
    Copyright © 2022 Freedom Loisa | All rights reserved |
    <a href="#">Contact</a>
  </p>
</div>
<!-- ****** -->
<!-- footer -->

<!-- app body end -->
{% endblock %}
<!-- app body end -->
