<!-- inherit base template -->
{% extends "base.html" %}
<!-- inherit base template -->

<!-- load cache -->
{% load cache %}
<!-- load cache -->

<!-- load bootstrap -->
{% load bootstrap5 %}
<!-- load bootstrap -->

<!-- app body begin -->
{% block content %}
<!-- app body begin -->

<!-- body -->
<!-- **** -->

<div class="body-container" id="main-body">
  <div class="row" id="index-container">
    <!-- top column -->
    <div class="col-sm-3 columns">
      <!-- user authentication -->
      {% if user.is_authenticated %}
      <!-- user authentication -->

      <!-- user status -->
      <!-- **** ****** -->

      <!-- if -->
      {% if live_user %}
      <!-- if -->
      <div class="user-card">
        <p>@{{ live_user }}</p>
      </div>
      <!-- endif -->
      {% endif %}
      <!-- endif -->

      <!-- **** ****** -->
      <!-- user status -->

      <!-- else -->
      {% else %}
      <!-- else -->

      <!-- login -->
      <!-- ***** -->
      <div class="login-card">
        <form method="post" id="index-form">
          {% csrf_token %}
          <!-- form -->
          {% bootstrap_form form %}
          <!-- form -->
          <button type="submit" class="btn btn-success">Submit</button>
          <br />
          <br />
          <p class="text-center">
            Don't have an account? Create one
            <a href="{% url 'register_user' %}">here</a>.
          </p>
        </form>
      </div>
      <!-- ***** -->
      <!-- login -->

      <!-- user authentication -->
      {% endif %}
      <!-- user authentication -->

      <!-- weather -->
      <!-- ******* -->

      <!-- cache -->
      {% cache 600 weather request.user.username %}
      <!-- cache -->

      <!-- if -->
      {% if forecast%}
      <!-- if -->
      <div class="weather-card">
        <p>City: {{ forecast.location.name }}</p>
        <p>Region: {{ forecast.location.region }}</p>
        <p>Country: {{ forecast.location.country }}</p>
        <br />
        <div class="weather-container">
          <img
            src="{{ forecast.current.condition.icon }}"
            alt="{{ forecast.current.condition.text }}"
          />
          <p>{{ forecast.current.condition.text }}</p>
        </div>
        <br />
        <p>Feels like: {{ forecast.current.temp_c }} &deg;c</p>
        <p>Wind speed: {{ forecast.current.wind_kph }} kmph</p>
        <p>Wind direction: {{ forecast.current.wind_dir }}</p>
        <p>Pressure: {{ forecast.current.pressure_mb }} millibars</p>
        <p>Humidity: {{ forecast.current.humidity }} g.kg-1</p>
        <p>Cloud cover: {{ forecast.current.cloud }} %</p>
      </div>
      <!-- endif -->
      {% endif %}
      <!-- endif -->

      <!-- endcache -->
      {% endcache %}
      <!-- endcache -->

      <!-- ******* -->
      <!-- weather -->
    </div>
    <!-- mid column -->
    <div class="col-6 columns" id="mq-col-6">
      <!-- card -->
      <!-- **** -->

      <!-- for -->
      {% for post in all_posts %}
      <!-- for -->
      <div class="post-card">
        <p class="text-muted text-end">{{ post.posted_on }}</p>
        <div class="post-card-header">
          <div>
            <img
              src="{{ post.post_author.profile_pic.url }}"
              class="rounded"
              alt="user icon"
            />
            <a href="{% url 'user' post.post_author.pk %}" class="text-end"
              >@{{ post.post_author.user }}</a
            >
          </div>
        </div>
        <br />
        <a href="{% url 'posts' post.slug%}" class="card-btn-header">
          <h3>{{ post.title }}</h3>
        </a>
        <br />
        <div class="post-card-footer">
          <a href="{% url 'posts' post.slug%}" class="btn card-btn-links"
            >Comment</a
          >
        </div>
      </div>
      <!-- endfor -->
      {% endfor %}
      <!-- endfor -->

      <!-- **** -->
      <!-- card -->
    </div>
    <!-- last column -->
    <div class="col-3 columns" id="mq-col-3">
      <!-- news -->
      <!-- **** -->
      <div class="news-card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h3>News</h3>
          </li>

          <!-- cache -->
          {% cache 600 news request.user.username %}
          <!-- cache -->

          <!-- for -->
          {% for feed in news_feed %}
          <!-- for -->
          <li class="list-group-item">
            <p>{{ feed.title }}</p>
            <a href="{{ feed.url }}">Read more</a>
          </li>
          <!-- endfor -->
          {% endfor %}
          <!-- endfor -->

          <!-- endcache -->
          {% endcache %}
          <!-- endcache -->
        </ul>
      </div>
      <!-- **** -->
      <!-- news -->
    </div>
  </div>
</div>
<!-- **** -->
<!-- body -->

<!-- app body end -->
{% endblock %}
<!-- app body end -->
