<!-- inherit base template -->
{% extends "base.html" %}
<!-- inherit base template -->

<!-- app body begin -->
{% block content %}
<!-- app body begin -->

<!-- body -->
<!-- **** -->
<div class="body-container" id="main-body">
  <div class="row">
    <div class="container-posts">
      <!-- card -->
      <!-- **** -->
      <div class="post-card actual-post">
        <!-- if -->
        {% if article %}
        <!-- if -->
        <p class="text-muted text-end">{{ article.posted_on }}</p>
        <br />
        <h1 class="text-center">{{ article.title }}</h1>
        <img
          src="{{ article.post_thumbnail.url }}"
          class="img-fluid rounded"
          alt=""
        />
        <div class="post-content">
          <p>{{ article.content }}</p>
        </div>
        <!-- endif -->
        {% endif %}
        <!-- endif -->

        <!--  -->
        <hr class="separator" />
        <!--  -->

        <!--  -->
        <h3 class="text-center text-muted">Comments</h3>
        <!--  -->

        <!-- comment card -->
        <!-- ******* **** -->

        <!-- for -->
        {% for comment in post_comments %}
        <!-- for -->
        <div class="comment-card">
          <div class="post-card-header">
            <div>
              <img
                src="{{ comment.comment_author.profile_pic.url }}"
                class="rounded-circle"
                alt="user icon"
                id="comment-user-icon"
              />
              <a href="#" class="text-end"
                >@{{ comment.comment_author.user }}</a
              >
            </div>
          </div>
          <br />
          <p>{{ comment.comment }}</p>
          <p class="text-muted text-end lh-1">{{ comment.commented_on }}</p>
        </div>
        <!-- endfor -->
        {% endfor %}
        <!-- endfor -->

        <!-- ******* **** -->
        <!-- comment card -->
        <hr class="separator" />

        <!-- comment form -->
        <!-- ******* **** -->
        <div class="comment-card">
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Post a comment"
              aria-label="Search"
            />
            <button class="btn btn-success" type="submit">Submit</button>
          </form>
        </div>
        <!-- ******* **** -->
        <!-- comment form -->
      </div>
      <!-- **** -->
      <!-- card -->
    </div>
  </div>
</div>
<!-- **** -->
<!-- body -->

<!-- footer -->
<!-- ****** -->
<div class="footer container-fluid text-center">
  <p>
    Copyright © 2022 Freedom Loisa | All rights reserved |
    <a href="#">Contact</a>
  </p>
</div>
<!-- ****** -->
<!-- footer -->

<!-- app body end -->
{% endblock %}
<!-- app body end -->
