<!-- inherit base template -->
{% extends "base.html" %}
<!-- inherit base template -->

<!-- app body begin -->
{% block content %}
<!-- app body begin -->

<!-- navbar 2 -->
<!-- ****** * -->
<nav class="navbar" id="nav-bot">
  <div class="container-fluid nav-container-top-user">
    <img
      src="./img/socialbook_logo.png"
      class="rounded-circle"
      alt="page logo"
    />
    <br />
    <p>Firsname Secondname</p>
    <p>firstandsecond@example.com</p>
    <a href="#">edit profile</a>
  </div>
</nav>
<!-- ****** * -->
<!-- navbar 2 -->

<!-- body -->
<!-- **** -->
<div class="body-container">
  <div class="container">
    <h3 class="text-center">Bio</h3>
    <div class="user-info-card">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit officiis
        aut, est consequuntur, vitae velit officia illum soluta labore odit ab?
        Esse nostrum maxime quasi! Cupiditate culpa ea nam labore exercitationem
        asperiores quia! Quaerat aliquid porro aperiam voluptates perspiciatis
        sint dolore voluptas velit tempore quia, esse numquam minima tenetur.
        Soluta culpa aliquid error exercitationem! Assumenda cumque provident
        nam repellendus esse odio, praesentium ut? Dolorum animi, itaque earum
        autem esse maiores dicta sit aliquam obcaecati sed doloribus nemo,
        laudantium quam natus! Unde optio excepturi reprehenderit deserunt
        officia. Ut quod commodi, saepe corporis perspiciatis non tempore, esse
        voluptate asperiores accusamus reprehenderit facere?
      </p>
    </div>
    <br />
    <h3 class="text-center">Posts</h3>
    <div class="user-post-list">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p>Lorem ipsum dolor sit amet consectetur</p>
          <a href="#">Read post</a>
        </li>
        <li class="list-group-item">
          <p>Lorem ipsum dolor sit amet consectetur</p>
          <a href="#">Read post</a>
        </li>
        <li class="list-group-item">
          <p>Lorem ipsum dolor sit amet consectetur</p>
          <a href="#">Read post</a>
        </li>
        <li class="list-group-item">
          <p>Lorem ipsum dolor sit amet consectetur</p>
          <a href="#">Read post</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- **** -->
<!-- body -->

<!-- footer -->
<!-- ****** -->
<div class="footer container-fluid text-center">
  <p>
    Copyright © 2022 Freedom Loisa | All rights reserved |
    <a href="#">Contact</a>
  </p>
</div>
<!-- ****** -->
<!-- footer -->

<!-- app body end -->
{% endblock %}
<!-- app body end -->
