<!-- inherit base template -->
{% extends "base.html" %}
<!-- inherit base template -->

<!-- app body begin -->
{% block content %}
<!-- app body begin -->

<!-- navbar 2 -->
<!-- ****** * -->

<!-- if -->
{% if profile %}
<!-- if -->
<nav class="navbar" id="nav-bot">
  <div class="container-fluid nav-container-top-user">
    <img
      src="{{ profile.profile_pic.url }}"
      class="rounded"
      alt="page logo"
    />
    <br />
    <div class="full-names">
      <div>
        <p>{{ profile.first_name }}</p>
      </div>
      <div>
        <p>{{ profile.second_name }}</p>
      </div>
    </div>
    <p>{{ profile.user.email }}</p>
  </div>
</nav>
<!-- ****** * -->
<!-- navbar 2 -->

<!-- body -->
<!-- **** -->
<div class="body-container">
  <div class="container">
    <h3 class="text-center">Bio</h3>
    <div class="user-info-card">
      <p>{{ profile.bio }}</p>
    </div>
    <br />
    <h3 class="text-center">Posts</h3>
    <div class="user-post-list">
      <ul class="list-group list-group-flush">
        <!-- for -->
        {% for post in posts_by_user %}
        <!-- for -->
        <li class="list-group-item">
          <p>{{ post.title }}</p>
          <a href="{% url 'posts' post.slug %}">Read post</a>
        </li>
        <!-- endfor -->
        {% endfor %}
        <!-- endfor -->
        <br />
      </ul>
    </div>
  </div>
</div>
<!-- endif -->
{% endif %}
<!-- endif -->

<!-- **** -->
<!-- body -->

<!-- footer -->
<!-- ****** -->
<div class="footer container-fluid text-center">
  <p>
    Copyright © 2022 Freedom Loisa | All rights reserved |
    <a href="#">Contact</a>
  </p>
</div>
<!-- ****** -->
<!-- footer -->

<!-- app body end -->
{% endblock %}
<!-- app body end -->
